@import "src/app/shared/styles/shared";

:host::ng-deep {

  //button {
  //  width: 100%;
  //  height: 100%;
  //}
}

.item {
  font-size: 8rem;
  color: $clr-neon;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2), 0 0 0.45em currentColor;
}

.default-item {
  width: 6em;
  height: 6em;
  margin-right: auto;
  margin-left: auto;
  background: none;
  border: #33E9E9 0.3em solid;
  border-radius: 26.3891px;
  box-shadow: inset 0 0 1em 0 #33E9E9, 0 0 1em 0 #33E9E9;

  position: relative;
}

.default-item::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: inset 0 0 1.5em 0.5em #33E9E9, 0 0 2em 0.5em #33E9E9;
  border-radius: 26.3891px;
  z-index: -1;
  opacity: 0;
  transition: opacity 200ms linear;
}

.default-item:hover::after,
.default-item:focus::after
{
  opacity: 1;
}


