@import "src/app/shared/styles/shared";

::ng-deep {
  mat-dialog-container {
    background: $clr-bg !important;
    z-index: 1;
  }
}

:host::ng-deep {
  .neon-title-box {
    margin-top: 0;
    margin-bottom: 20px;
  }
}

.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}

.buttons {
  display: flex;
  margin-top: 20px;
}

.right {
  margin-right: 10px;
}
