<div class="content">
  <app-neon-title [title]="title | titlecase"></app-neon-title>
  <ng-container *ngIf="title === 'Ничья!'; else img">
    <img src="assets/draw.png">
  </ng-container>


  <div class="buttons">
    <app-button
      class="right"
      [placeholder]="'Ок'"
      (onClickEvent)="closeModal()"
    ></app-button>

    <app-button
      [placeholder]="'Начать занова'"
      (onClickEvent)="playAgain()"
    ></app-button>
  </div>
</div>

<ng-template #img>
  <img src="assets/champ.png">
</ng-template>
