@import "src/app/shared/styles/shared";

.neon-button {
  font-size: 1rem;
  display: inline-block;
  cursor: pointer;
  color: $clr-neon;
  border: $clr-neon 0.125em solid;
  background: none;
  padding: 0.25em 1em;
  border-radius: 0.25em;

  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.5), 0 0 0.45em currentColor;
  box-shadow: inset 0 0 0.5em 0 $clr-neon, 0 0 0.5em 0 $clr-neon;

  position: relative;
}

.neon-button::after {
  content: '';
  position: absolute;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2em 0.5em $clr-neon;
  opacity: 0;
  background-color: $clr-neon;
  z-index: -1;
  transition: opacity 100ms linear;
}

.neon-button:hover,
.neon-button:focus {

  color: $clr-bg;
  text-shadow: none;
}

.neon-button:hover::after,
.neon-button:focus::after
{
  opacity: 1;
}
