@import "src/app/shared/styles/shared";

::ng-deep {
  body {
    background-color: $clr-bg;
  }
}

:host::ng-deep {
  .container {
    height: 100%;
  }
}

.title {
  color: $clr-neon;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2), 0 0 0.45em currentColor;
}

.content {
  display: flex;
  flex-wrap: wrap;
  flex: 1;
  padding: 2px;
}

.content {
  margin-top: 40px;
  height: 90%;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
}

.ceil {
  border-bottom: $clr-neon 0.250em solid;
  border-right: $clr-neon 0.250em solid;
}

.ceil:nth-child(3n) {
  border-right: none;
}

.ceil:nth-child(n+7) {
  border-bottom: none;
}

.ceil:nth-child(3) {
  box-shadow: inset 1em -1em 1em -1em $clr-neon, -1em 1em 1em -1em $clr-neon;
}

.ceil:nth-child(6) {
  box-shadow:
    inset 1em 1em 1em -1em $clr-neon,
    -1em -1em 1em -1em $clr-neon,
    inset 0 -1em 1em -1em $clr-neon,
    0 1em 1em -1em $clr-neon;
}

.ceil:nth-child(9) {
  box-shadow: inset 1em 1em 1em -1em $clr-neon, -1em -1em 1em -1em $clr-neon;
}

.ceil:nth-child(1) {
  box-shadow: inset -1em -1em 1em -1em $clr-neon, 1em 1em 1em -1em $clr-neon;
}

.ceil:nth-child(4) {
  box-shadow:
    inset -1em 1em 1em -1em $clr-neon,
    1em -1em 1em -1em $clr-neon,
    inset 0 -1em 1em -1em $clr-neon,
    0 1em 1em -1em $clr-neon;
}

.ceil:nth-child(7) {
  box-shadow: inset -1em 1em 1em -1em $clr-neon, 1em -1em 1em -1em $clr-neon;
}

.ceil:nth-child(2) {
  box-shadow:
    inset 1em -1em 1em -1em $clr-neon,
    -1em 1em 1em -1em $clr-neon,
    inset -1em 0 1em -1em $clr-neon,
    1em 0 1em -1em $clr-neon;
}

.ceil:nth-child(8) {
  box-shadow:
    inset 1em 1em 1em -1em $clr-neon,
    -1em -1em 1em -1em $clr-neon,
    inset -1em 0 1em -1em $clr-neon,
    1em 0 1em -1em $clr-neon;
}

.ceil:nth-child(5) {
  box-shadow: inset 0 0 1em 0 $clr-neon, 0 0 1em 0 $clr-neon;
}

.backdrop2 {
  background: black;
  opacity: 0.7;
}
