@import "src/app/shared/styles/shared";

::ng-deep {
  body {
    background-color: $clr-bg;
  }
}

:host::ng-deep {
  .container {
    height: 100%;
    display: flex;
    flex-direction: column;
  }
}

.title {
  color: $clr-neon;
  text-shadow: 0 0 0.125em hsl(0 0% 100% / 0.2), 0 0 0.45em currentColor;
}

.content {
  height: 80%;
  max-height: 600px;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);

  width: 100%;
  max-width: 450px;
}

.ceil {
  border-bottom: $clr-neon 0.250em solid;
  border-right: $clr-neon 0.250em solid;
}

.ceil:nth-child(3n) {
  border-right: none;
}

.ceil:nth-child(n+7) {
  border-bottom: none;
}

.ceil:nth-child(3) {
  box-shadow: inset 1em -1em 1em -1em $clr-neon, -1em 1em 1em -1em $clr-neon;
}

.ceil:nth-child(6) {
  box-shadow:
    inset 1em 1em 1em -1em $clr-neon,
    -1em -1em 1em -1em $clr-neon,
    inset 0 -1em 1em -1em $clr-neon,
    0 1em 1em -1em $clr-neon;
}

.ceil:nth-child(9) {
  box-shadow: inset 1em 1em 1em -1em $clr-neon, -1em -1em 1em -1em $clr-neon;
}

.ceil:nth-child(1) {
  box-shadow: inset -1em -1em 1em -1em $clr-neon, 1em 1em 1em -1em $clr-neon;
}

.ceil:nth-child(4) {
  box-shadow:
    inset -1em 1em 1em -1em $clr-neon,
    1em -1em 1em -1em $clr-neon,
    inset 0 -1em 1em -1em $clr-neon,
    0 1em 1em -1em $clr-neon;
}

.ceil:nth-child(7) {
  box-shadow: inset -1em 1em 1em -1em $clr-neon, 1em -1em 1em -1em $clr-neon;
}

.ceil:nth-child(2) {
  box-shadow:
    inset 1em -1em 1em -1em $clr-neon,
    -1em 1em 1em -1em $clr-neon,
    inset -1em 0 1em -1em $clr-neon,
    1em 0 1em -1em $clr-neon;
}

.ceil:nth-child(8) {
  box-shadow:
    inset 1em 1em 1em -1em $clr-neon,
    -1em -1em 1em -1em $clr-neon,
    inset -1em 0 1em -1em $clr-neon,
    1em 0 1em -1em $clr-neon;
}

.ceil:nth-child(5) {
  box-shadow: inset 0 0 1em 0 $clr-neon, 0 0 1em 0 $clr-neon;
}

.backdrop2 {
  background: black;
  opacity: 0.7;
}

.icon-container {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100%;
  margin-bottom: 1em;
}

#telegram, #linkedin, #github {
  font-size: 2em;
  padding: 5px 10px;
  margin: 0 1rem;
  background: none;
  color: #fff;
  border-radius: 30px;
  box-shadow: inset 0 0 0.5em 0 $clr-neon, 0 0 0.5em 0 $clr-neon;
  border: $clr-neon 0.125em solid;
  position: relative;
  cursor: pointer;
}

#telegram::after,
#linkedin::after,
#github::after{
  pointer-events: none;
  content: '';
  position: absolute;
  border-radius: 30px;
  top: 0;
  bottom: 0;
  right: 0;
  left: 0;
  box-shadow: 0 0 2em 0.5em $clr-neon;
  opacity: 0;
  background-color: $clr-neon;
  z-index: -1;
  transition: opacity 100ms linear;
}

#telegram:hover,
#telegram:focus,
#linkedin:hover,
#linkedin:focus,
#github:hover,
#github:focus {
  color: $clr-bg;
  text-shadow: none;
}

#telegram:hover::after,
#telegram:focus::after,
#linkedin:hover::after,
#linkedin:focus::after,
#github:hover::after,
#github:focus::after
{
  opacity: 1;
}
